<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application>

    <!-- <list id="List">
        <entry><list /></entry>
        <entry>
            <list>
                <entry name="nestedListElement1">
                    <value>nestedValue1</value>
                </entry>
            </list>
        </entry>
        <entry>
            <list>
                <entry name="nestedListElement2">
                    <value>nestedValue2</value>
                </entry>
            </list>
        </entry>
        <entry value="testEntry" name="thisIsAlistElement"></entry>
        <entry><value>Testvalue</value></entry>
        <entry></entry>
    </list>

    <properties id="ApplicationProperties">
        <entry>
            <value>
                /resources/annotations/meta/Properties/configs/**/*.{json,xml, properties}
            </value>
        </entry>
        <entry>
            <value>
                /resources/annotations/meta/Properties/configs/**/*.{json,xml, properties}
            </value>
        </entry>
        <entry value="/resources/annotations/meta/Properties/configs/**/*.{json,xml, properties}"/>
    </properties> -->

    <bean id="Bean" init="init" src="/bean/Bean.js" >
        <property name="inner">
            <property name="innerBean">
                <bean init="init" src="/bean/NestedBean.js" />
            </property>
        </property>
    </bean>

    <component id="Component" init="init" src="/component/Component.js">
        <property name="bean">
            <reference id="Bean" />
        </property>
    </component>
    <controller id="Controller" init="init" src="/controller/Controller.js">
        <property name="bean">
            <reference id="Bean" />
        </property>
        <property name="component">
            <reference id="Component" />
        </property>
    </controller>
    <service id="Service" init="init" src="/service/Service.js">
        <property name="bean">
            <reference id="Bean" />
        </property>
        <property name="controller">
            <reference id="Controller" />
        </property>
        <property name="component">
            <reference id="Component" />
        </property>
    </service>
    <context init="init" run="run" src="/Context.js" id="Application">
        <property name="bean">
            <reference id="Bean" />
        </property>
        <property name="controller">
            <reference id="Controller" />
        </property>
        <property name="component">
            <reference id="Component" />
        </property>
        <property name="service">
            <reference id="Service" />
        </property>
    </context>
</application>