<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application>
    <list id="List">
        <entry><list /></entry>
        <entry>
            <list>
                <entry name="nestedListElement1">
                    <value>nestedValue1</value>
                </entry>
            </list>
        </entry>
        <entry>
            <list>
                <entry name="nestedListElement2">
                    <value>nestedValue2</value>
                </entry>
            </list>
        </entry>
        <entry value="testEntry" name="thisIsAlistElement"></entry>
        <entry><value>Testvalue</value></entry>
        <entry></entry>
    </list>
    <bean src="/test/resources/annotatedProjects/simple/bean/Bean.js" id = "referenceBean" />
    <bean src="/test/resources/annotatedProjects/simple/bean/Bean.js" id="Bean">
        <property name="innerBean">
            <bean src="/test/resources/annotatedProjects/simple/bean/Bean.js">
                <property name="innerBean1">
                    <bean src="/test/resources/annotatedProjects/simple/bean/Bean.js">
                        <property name="innerBean2">
                            <bean src="/test/resources/annotatedProjects/simple/bean/Bean.js" />
                        </property>
                    </bean>
                </property>
            </bean>
        </property>
        <property name="referenceBean">
            <reference id="referenceBean" />
        </property>
    </bean>
</application>